.footer_container{
    display: flex;
    align-items: center;
    justify-content: space-around;  
    background-color: #BCDDFE;
    padding-top: 150px;
}

.footer_container_first{
    width: 300px;
    height: 300px;
}

.footer_container_first_logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_container_first_logo > h1{
    font-size: 20px;
}

.footer_container_first > p{
    font-size: 16px;
    padding-top: 23px;
    line-height: 20px;
}

.footer_container_second{
    width: 300px;
    height: 300px;
}

.footer_container_second > h1{
    font-size: 20px;
}

.footer_container_second > p{
    font-size: 16px;
    line-height: 20px;
    padding-top: 38px;
}

.footer_container_second_icons{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 25px;
}

.footer_container_theard{
    width: 300px;
    height: 300px;
}

.footer_container_theard > h1{
    font-size: 18px;
}

.footer_container_theard > p{
    width: 150px;
    padding-top: 40px;
    line-height: 20px;
}