.advertisement_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #40BFFF;
    gap: 100px;
    margin-top: 200px;
}

.advertisement_title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 50px;
    line-height: 70px;
    font-weight: bold;
    padding-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.advertisement_text{
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    padding-left: 100px;
    padding-top: 23px;
}

.advertisement_button{
    display: flex;
    font-size: 18px;
    margin-left: 100px;
    color: white;
    text-decoration: underline;
    padding-top: 20px;
}